<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
  </style>
  <body>
    <h2>404 Error</h2>
    <p>죄송합니다. 해당 URL은 접근할 수 없는 주소입니다.</p>
    <a href="/items">HOME</a>
  </body>
</html>
