<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>MVC패턴과 MYSQL 연결</h2>
    <a href="/items/register">아이템 등록</a>
  </body>
</html>
