<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
  </style>
  <style>
    body {
      margin: 0;
      height: 100vh; /* 화면 전체 높이 */
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; /* 자식 요소를 절대 위치로 배치할 수 있게 */
    }

    .gifContainer {
      position: absolute; /* 이미지가 배경처럼 설정되도록 절대 위치 */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; /* 이미지가 텍스트 뒤로 가도록 */
    }

    .moveWeb {
      text-align: center;
      color: white; /* 글씨 색을 흰색으로 설정 */
      font-family: Arial, sans-serif; /* 글씨체 설정 */
      z-index: 1; /* 텍스트가 이미지 위로 올 수 있도록 */
    }

    .moveWeb h1 {
      font-size: 46px; /* 제목 글씨 크기 */
    }

    .moveWeb a {
      color: white; /* 링크 색상 */
      text-decoration: none; /* 링크 밑줄 제거 */
      font-size: 20px; /* 링크 글씨 크기 */
    }
  </style>

  <body>
    <div class="gifContainer">
      <img
        src="/public/img/Succulents.gif"
        alt="GIF"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </div>
    <div class="moveWeb">
      <h1>Plant Website</h1>
      <a href="/items/register">관리자 페이지</a>
    </div>
  </body>
</html>
